FORMAT: 1A
HOST: https://devrant.com/api

# Avatar

This is the unofficial documentation for the devRant avatar APIs.

## Avatar Build Options [/devrant/avatars/build]
Gives an automatically-generated previews and full pictures of an avatar based on a customization option.

| URI Parameters | Description                                                                                       |
|----------------|---------------------------------------------------------------------------------------------------|
| option         | The part of the avatar that you want to get previews and full builds of the avatar for (required) |
| sub_option     | The selection of the option (optional)                                                            |
| image_id       | The image URL that you want to manipulate (required)                                              |
| app            | The app ID. (required, use value 3 always)                                                        |
| user_id        | The user ID. (required)                                                                           |
| token_id       | The auth token ID. (required)                                                                     |
| token_key      | The auth token key. (required)                                                                    |

+ option (string) - The customization item identifier to generate variations of the avatar on.

### Build avatar [GET]

+ Request (application/x-www-form-urlencoded)

+ Response 200 (application/json)

        {
            "success": true,
            "avatars": [
                {
                    "img": {
                        "b": "d55161",
                        "mid": "v-37_c-12_b-5_g-m_6-97.jpg",
                        "full": "v-37_c-1_b-5_g-m_9-1_1-1_16-7_3-2_8-2_7-2_5-1_12-1_6-97_10-9_2-90_22-7_11-8_18-3_19-2_4-1_20-2.png"
                    },
                    "selected": true
                },
                {
                    "img": {
                    "b": "d55161",
                    "mid": "v-37_c-12_b-5_g-f_6-1.jpg",
                    "full": "v-37_c-1_b-5_g-f_9-1_1-1_16-7_3-2_8-2_7-2_5-1_12-1_6-97_10-9_2-90_22-7_11-8_18-3_19-2_4-1_20-2.png"
                },
                "selected": false
            }],
            
            "me": {
                "score": 1572
            },
            "options": [
                {
                    "id": "g",
                    "label": "Gender"
                },
                {
                    "id": "b",
                    "label": "BG Color"
                },
                {
                    "id": 1,
                    "label": "Skin Tone"
                },
                {
                    "id": 6,
                    "sub_type": 13,
                    "label": "Hair Style"
                },
                {
                    "id": 6,
                    "sub_type": 14,
                    "label": "Hair Color"
                },
                {
                    "id": 22,
                    "label": "Expression"
                },
                {
                    "id": 15,
                    "for_gender": "m",
                    "label": "Facial Hair"
                },
                {
                    "id": 3,
                    "label": "Pants"
                },
                {
                    "id": 16,
                    "label": "Shoes"
                },
                {
                    "id": 2,
                    "label": "Shirt"
                },
                {
                    "id": 11,
                    "label": "Glasses"
                },
                {
                "id": 10,
                "label": "Watch"
                },
                {
                    "id": 17,
                    "label": "Tattoos"
                },
                {
                    "id": 8,
                    "label": "Desk"
                },
                {
                    "id": 18,
                    "label": "Desk Items (L)"
                },
                {
                    "id": 19,
                    "label": "Desk Items (R)"
                },
                {
                    "id": 5,
                "label": "Computer"
                },
                {
                    "id": 9,
                    "label": "Chair"
                },
                {
                    "id": 20,
                    "label": "Pet (floor)"
                },
                {
                    "id": 21,
                    "label": "Pet (shoulder)"
                }
            ]
        }

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }